body{
    background:url("music-background.jpg");
    background-size:cover;
}

.heading{
    background-color:mediumpurple;
    padding-top:10px;
    width:75%;
    padding-bottom:10px;
    color:white;
}

#title-txt{
    font-size:42px;
}

#intro-txt{
    font-size:20px;
}

canvas {
    border: 5px dashed white;
    border-radius: 20px;
    margin-top: 50px;
}